In [9]:
%matplotlib inline
import pandas as pd
import numpy as np
df = pd.read_csv('Cleaned_2012-18_playerBoxScore.csv')

In [15]:
df.describe(include='all')

,next_gmDays,pre_gmDays,gmTime,teamDayOff,playMin,playHeight,playWeight,playPTS,playAST,playTO,...,opptDiv_Atlantic,opptDiv_Central,opptDiv_Northwest,opptDiv_Pacific,opptDiv_Southeast,opptDiv_Southwest,age,Seats,Year_Open,pre_gm_miles
count,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,...,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000
mean,2.349851,2.390562,15.682535,2.076396,22.988676,79.011609,217.932941,9.855974,2.185892,1.297285,...,0.166323,0.166478,0.166972,0.167829,0.166634,0.165764,26.615347,19000.412014,1998.628300,1561.301450
std,1.277117,1.296341,5.880749,1.049777,10.690116,3.431578,25.942307,7.932366,2.532465,1.382802,...,0.372371,0.372511,0.372952,0.373715,0.372650,0.371870,5.073903,1021.014056,11.162248,1783.445556
min,0.000000,0.000000,1.000000,0.000000,0.000000,69.000000,149.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,16867.000000,1966.000000,0.000000
25%,2.000000,2.000000,9.000000,2.000000,15.000000,77.000000,200.000000,4.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.000000,18119.000000,1995.000000,613.472295
50%,2.000000,2.000000,19.000000,2.000000,24.000000,79.000000,220.000000,8.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.000000,19067.000000,1999.000000,1091.402326
75%,3.000000,3.000000,20.000000,2.000000,31.000000,82.000000,237.000000,15.000000,3.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000,19800.000000,2003.000000,1811.182098
max,9.000000,9.000000,22.000000,11.000000,60.000000,87.000000,290.000000,62.000000,25.000000,12.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,45.000000,20917.000000,2018.000000,8990.043545