In [26]:
%matplotlib inline
import pandas as pd
import numpy as np
df_original = pd.read_csv('NBAPlayer_dataset.csv')

In [27]:
# new_col_list =  df_original.loc[:,'playPTS':'playTRB'].columns

In [28]:
# %%time
# for col in new_col_list:
#     new_col = col +'_permin'
#     df_original[new_col] =df_original[col] / df_original['playMin']

In [29]:
df_original.drop(columns=new_col_list, inplace=True)
df = df_original.copy()

In [30]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [31]:
df.fillna(0, inplace=True)

In [32]:
select_num = list(df.drop(columns=['playDispNm','teamConfIsEast','opptConfIsEast', 'teamRsltIsWin', 'opptRsltltIsWin', 'teamLocIsHome', 'opptLocIsHome', 'playPos_C', 'playPos_F', 'playPos_G', 'playPos_PF', 'playPos_PG', 'playPos_SF', 'playPos_SG', 'teamDiv_Atlantic', 'teamDiv_Central', 'teamDiv_Northwest', 'teamDiv_Pacific', 'teamDiv_Southeast', 'teamDiv_Southwest', 'opptDiv_Atlantic', 'opptDiv_Central', 'opptDiv_Northwest', 'opptDiv_Pacific', 'opptDiv_Southeast','opptDiv_Southwest']).columns.values.tolist())

In [33]:
df.shape

(154014, 69)

In [34]:
len(select_num)

43

write a for loop for every player with almost every cols

In [35]:
playerlist = list(df['playDispNm'].unique())

In [36]:
%%time
df_list=[]
df_final = pd.DataFrame()
for player in playerlist:
    df_diff = df[df['playDispNm'] == player][select_num].diff()
    df_diff = df_diff.add_suffix('_diff')
    df_new = df[df['playDispNm'] == player].join(df_diff, how='outer')
    df_list.append(df_new)

CPU times: user 12.6 s, sys: 118 ms, total: 12.7 s
Wall time: 12.7 s

In [37]:
df_new_diff = pd.concat(df_list)

In [38]:
df_new_diff.describe(include='all')

,playDispNm,next_gmDays,pre_gmDays,gmTime,teamDayOff,playMin,playHeight,playWeight,playFG%,play2P%,...,playBIs_quarter_end_diff,playBIs_quarter_start_diff,playBIs_year_end_diff,playBIs_year_start_diff,playBElapsed_diff,IsStarter_diff,age_diff,Seats_diff,Year_Open_diff,pre_gm_miles_diff
count,154014,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,154014.000000,...,153119.000000,153119.0,153119.0,153119.0,1.531190e+05,153119.000000,153119.000000,153119.000000,153119.000000,153119.000000
unique,895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Corey Brewer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2.349851,2.390562,15.682535,2.076396,22.988676,79.011609,217.932941,0.425244,0.444552,...,0.000007,0.0,0.0,0.0,5.365615e+03,0.000300,0.017019,-0.065753,-0.006217,0.722027
std,NaN,1.277117,1.296341,5.880749,1.049777,10.690116,3.431578,25.942307,0.247963,0.295154,...,0.004426,0.0,0.0,0.0,3.295159e+06,0.278099,5.665299,1046.396279,11.421597,1913.650708
min,NaN,0.000000,0.000000,1.000000,0.000000,0.000000,69.000000,149.000000,0.000000,0.000000,...,-1.000000,0.0,0.0,0.0,-4.782240e+08,-1.000000,-22.000000,-4050.000000,-52.000000,-8990.043545
25%,NaN,2.000000,2.000000,9.000000,2.000000,15.000000,77.000000,200.000000,0.285700,0.250000,...,0.000000,0.0,0.0,0.0,0.000000e+00,0.000000,-4.000000,-13.000000,0.000000,-420.447867
50%,NaN,2.000000,2.000000,19.000000,2.000000,24.000000,79.000000,220.000000,0.444400,0.500000,...,0.000000,0.0,0.0,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,3.000000,3.000000,20.000000,2.000000,31.000000,82.000000,237.000000,0.571400,0.636400,...,0.000000,0.0,0.0,0.0,0.000000e+00,0.000000,4.000000,7.000000,0.000000,420.037026
max,NaN,9.000000,9.000000,22.000000,11.000000,60.000000,87.000000,290.000000,1.000000,1.000000,...,1.000000,0.0,0.0,0.0,4.782240e+08,1.000000,21.000000,4050.000000,52.000000,8990.043545

In [39]:
df_new_diff.shape

(154014, 112)

In [40]:
df_new_diff.drop(columns=select_num, inplace=True)

In [41]:
df_new_diff.fillna(0, inplace=True)

In [42]:
df_new_diff.to_csv('2012-18_playerBoxScore_diff.csv')